<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='icon' href='/img/weather.png'>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="box">
                <img class='portrait' src='/img/ad.png'>
            </div>
            <div class="main-para">
                <p>This is a small but very effective application which can fetch weather information
                from any known place in the world. This app is a MEAN stack based application, and
                that uses:
            </p>
            <ul>
                <li>NodeJS</li>
                <li>ExpressJS</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>JavaScript, and</li>
                <li>Handlebars</li>
            </ul>
            <p>This app uses two web services. One to retrieve the location of the
                place, and the other to fetch the weather information, including forecast.
            </p>
            </div>
        </div>
        {{>footer}}
    </body>
</html>