<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel='icon' href='/img/weather.png'>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="main-para">To use this simple application, head to the Weather
                tab and provide the name 
                of the place, and click on the Location placeholder and click
                on the 'search' button. The location can be a name of the place.
                It can be as precise as  'Bangalore' or 'New York'. You can even
                be more precise, as in 'Melbourne, Florida, USA'.
            </p>
        </div>
        {{>footer}}
    </body>
</html>