<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel='icon' href='/img/weather.png'>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="main-para">This is a small but powerful app that help you to 
                find out the weather forecast in any known place
                in the world. All that you need to do is to provide 
                the place name in the Location placeholder. You need 
                to be a bit un-ambiguous while providing the name, so 
                that you get the exact place. For example, if you simply
                provide 'Madras', the app will fetch 'Madras Hulu' from Indonesia. 
                However, if you provide 'Madras, USA', it will fetch from 'Masras' form
                Oregon, United States'.</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
        </div>
        <p id="message-1"></p>
        <p id="message-2"></p>
        {{>footer}}
        <script src="/js/css.js"></script>
    </body>
</html>